# Dependencies
requests/
urllib3/
charset_normalizer/
certifi/
idna/
chardet/

# Lambda deployment
function.zip

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Environment
.env
